{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
<script src="{% static 'story8.js' %}"></script>
{% endblock meta %}

{% block content %}

<div class="container justify-content-center text-center p-5" style="max-width: 700px;">
    <h3 style="margin-top: 50px;font-family: 'Manuale', serif;font-size: 50px;"><strong>Search Something to Read</strong></h3>
    <input id="keyword"  style ="margin-top: 40px;" placeholder="Input the book name">
</div>





<div class="container table">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            
        </tr>
    </thead>
    <tbody id="listBuku"></tbody>
    <!-- <tbody id="daftar_isi"></tbody> -->
</table>
</div>


{% endblock content %}
