.container {
    text-align: center;
}
  
.container.main{
    margin-top: 40vh;
    height: 25vh;
}
  
.container.a{
    /* margin-top: 30vh; */
    height: 35vh;
}
  
.text{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 30vh;
}
  
#accordionProfile{
    padding-left: 10vw;
    padding-right: 10vw;
    color: #df7861;

}
  
#accordionProfile h3{
    background-color: #df7861;
}

  
#accordionActivities{
    padding-left: 10vw;
    padding-right: 10vw;
    color: #df7861;
}
  
#accordionActivities h3{
    background-color: #df7861;
}
#accordionExperiences{
    padding-left: 10vw;
    padding-right: 10vw;
    color: #df7861;
}
  
#accordionExperiences h3{
    background-color: #df7861;
}
#accordionAchievements{
    padding-left: 10vw;
    padding-right: 10vw;
    color: #df7861;
}
#accordionAchievements h3{
    background-color: #df7861;
}