/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #fcf8e8;
}

.navbar {
  background-color: #df7861;
  font-family: 'Manuale', serif;
  margin-bottom: 200px;
  padding-bottom: 100px;

}.navbar .navbar-brand {
  color: #201f1b;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecb390;
}
.navbar .navbar-text {
  color: #201f1b;
}
.navbar .navbar-text a {
  color: #ecb390;
}
.navbar p{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 25px;
  border: none;
  font-family: 'Manuale', serif;
  font-weight: 700;

}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecb390; 
}
.navbar .navbar-nav .nav-link {
  color: #201f1b;
  border-radius: .25rem;
  margin:  0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecb390;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecb390;
  background-color: #ebc96c;
}
.navbar .navbar-toggle {
  border-color: #1a1918;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #181714;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #131212;
  background-color: #131212;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #201f1b;
}
.navbar .navbar-link {
  color: #201f1b;
}
.navbar .navbar-link:hover {
  color: #9a9504;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #111110;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9a9504;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9a9504;
    background-color: #ebc96c;
  }
  .navbar-inverse {
      opacity: 2.0;
 }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #201f1b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9a9504;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9a9504;
    background-color: #ebc96c;
  }
  .navbar-inverse {
      opacity: 1.0;
  } 
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #201f1b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #9a9504;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #9a9504;
  background-color: #ebc96c;
}

.container {
  text-align: center;
}


.container.main{
  margin-top: 40vh;
  height: 30vh;
  font-family: 'Manuale', serif;
  font-weight: 900;



}

.container.a{
  /* margin-top: 30vh; */
  height: 35vh;
}

.text{
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 30vh;
}

#accordionProfile{
  padding-left: 10vw;
  padding-right: 10vw;
  color: #df7861;
}

#accordionProfile h3{
  background-color: #df7861;
}

#accordionActivities{
  padding-left: 10vw;
  padding-right: 10vw;
  color: #df7861;
}

#accordionActivities h3{
  background-color: #df7861;
}
#accordionExperiences{
  padding-left: 10vw;
  padding-right: 10vw;
  color: #df7861;
}

#accordionExperiences h3{
  background-color: #df7861;
}
#accordionAchievements{
  padding-left: 10vw;
  padding-right: 10vw;
  color: #df7861;
}
#accordionAchievements h3{
  background-color: #df7861;
}


