{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>

<script src="{% static 'js/story7.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="d-flex justify-content-center">
<h1 class="text">
    About Me
</h1>
</div>
<div class="container a">
<div id="accordionProfile">
  <h3>Profile
    <span style="float: right;">
        <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
        <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
    </span>
  </h3>
  <div>
      <p>Hello, my name is Azzahra Banowati Rahmah. I'm an experience seeker who is constantly learning how to be a better person
          for my surrounding. Currently studying as an Information System Student in University on Indonesia.
      </p>
  </div>
</div>
<div id="accordionActivities">
  <h3>Activities
    <span style="float: right;">
        <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
        <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
    </span>
  </h3>
  <div>
    <ul>
        <li>Kuliah</li>
        <li>Kepanitiaan</li>
        <li>Berkhayal</li>
    </ul>
  </div>
</div>
<div id="accordionExperiences">
  <h3>Experiences
    <span style="float: right;">
        <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
        <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
    </span>
  </h3>
  <div>
    <ul>
        <li>Staff of Fundraising - Compfest 2020</li>
        <li>Treasurer - PMB 2020</li>
        <li>Staff of Relation - Wisuda Genap 2020</li>
    </ul>
  </div>
</div>
<div id="accordionAchievements">
  <h3>Achievements
    <span style="float: right;">
        <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
        <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
    </span>
  </h3>
  <div>
      <p>Jadi orang baik yang sukses. Please aamiin-in</p>
  </div> 
</div>
</div>
</div>
 
{% endblock content %}