{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="{% static 'js/jquery-3.5.1.js' %}">


  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" style="font-weight: 700; font-size:xx-large;" href="{% url 'main:home' %}#">ABR.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="{% url 'main:home' %}">Home</a>
        <a class="nav-link" href="{% url 'story7:homepage' %}">Story 7</a>
        <a class="nav-link" href="{% url 'story8:homepage8' %}">Story 8</a>
      </div>

        <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <h2>Welcome {{user.username}}!</h2>
        </a>
        <a class="nav-link" href="{% url 'story9:logout'%}">
          <h5><strong>Log Out</strong></h5>
        </a>

        {% else %}
          <a class="nav-link" href="{% url 'story9:login'%}">
            <h5><strong>Log In</strong></h5>
          </a>
          <a class="nav-link" href="{% url 'story9:register'%}">
            <h5><strong>Sign Up</strong></h5>
          </a>
        {% endif %}
        </div>



    </div>
  </nav>
  {% block content %}
  
  {% endblock content %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>
