{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
<div class="container main">
  {% if user.is_authenticated %}
  <h1 style="color: #ecb390;"><strong>Hello,{{user.username}}!</strong></h1>
  {% else %}
  <h1><strong>Hello!</strong></h1>
  {% endif %}

  <h1>Welcome to Azzahra's website,</h1>
  <h1>Please select a story you want to see</h1>
  <a href="{% url 'story7:homepage' %}">
    <button class="button">Story 7</button>
  </a>
  <a href="{% url 'story8:homepage8' %}">
    <button class="button">Story 8</button>
  </a>
</div>
{% endblock content %}
