{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="container justify-content-center text-center p-5" style="margin-top: 100px;">
    <h1 style="font-family: 'Manuale', serif;font-size: 50px">Log In</h1>
    <div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8">
        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit" class="btn btn-primary" style="background-color:#ecb390; border-color: #ecb390;">Login</button>
        
        </form>
    </div>
</div>
<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8">
        <h5 style="color: black;">Don't have an account? <a href="{% url 'story9:register'%}">Sign up</a></h5>
    </div>        
</div>
</div>




{% endblock content %}
