{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign In</title>
{% endblock meta %}

{% block content %}
<div class="container justify-content-center text-center p-5" style="margin-top: 50px;">
<div class="row m-5 justify-content-center">
    <div class="col text-center">
        <h1 style="font-family: 'Manuale', serif;font-size: 50px">Create a new account</h1>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h5 style="color: black;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
            {% endfor %}
        </ul>
        {% endif %}     
    </div>
</div>
<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8">
        <form method="POST">

            {% csrf_token %}
        
            {{ form.as_p }}
        
            <button type="submit" class="btn btn-primary" style="background-color:#ecb390; border-color: #ecb390;">Register</button>
        
        </form>
    </div>        
</div>
<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8">
        <h5 style="color: black;">Already have an account? <a href="{% url 'story9:login'%}">Log in</a></h5>
    </div>   
</div>


</div>


{% endblock content %}
